﻿.container {
    width: auto;
    margin-left: 0;
}
ul.product {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
ul.product>li {
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    display: inline-block;
    float: left;
    width: 275px;
    height: 300px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin:10px;
    position: relative;
}
ul.product>li h4.head, ul.product>li p {
    position: absolute;
    background-color: black;
    color: lightgray;
    display: block;
    margin: 0;
    padding: 0.2em;
    width: 100%;
    -ms-opacity: 0.7;
    opacity: 0.7;
}

ul.product > li p {
        top: 60%;
        height: 40%;
        width: 100%;
        overflow: hidden;
    }
ul.product>li .picture {
    height: 100%;
    float: left;


}
ul.product>li .btn-grp {
    position: absolute;
    right: 0;
    top: 2.5em;
}
ul.product>li .btn-grp .btn {
    float: right;
    display: block;
}
ul.product>li .btn-grp .btn:after {
    clear: right;
}
.cart, .compare {
    border: 0;
    width: 5.5em;
    height: 4em;
    -ms-border-top-left-radius: 2em;
    border-top-left-radius:2em;
    -ms-border-bottom-left-radius: 2em;
    border-bottom-left-radius: 2em;

    background-color: black;

    position: fixed;
    right: 0;
    top: 3.6em;

    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
         

    background-repeat: repeat-x;
}
.cart>.img, .compare>.img{
    background-image: url('themes/base/images/icon-circle-cart.png');
    -ms-background-size: 3em auto;
    background-size: 3em auto;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    margin: 0.5em;
}
.compare {
    top: 8em;
    width: 4em;
}
    .compare > .img {
        background-image: url('themes/base/images/icon-glyph-compare.png');
    }
.compare:hover {
    width: 4.5em;
}
.cart:hover {
    width: 6em;
}
.notify {
    color: white;
    height: 1.6em;
    -moz-min-width: 1.6em;
    -ms-min-width: 1.6em;
    -o-min-width: 1.6em;
    -webkit-min-width: 1.6em;
    min-width: 1.6em;
    background-color: #d33;
    -ms-border-radius: 0.8em;
    border-radius: 0.8em;
    float: right;
    text-align: center;
    padding: 0 0.3em;
}

.table {
    max-width: 768px;
}
.table thead tr{
    border-bottom:1px solid #b2dba1;
}
.table tbody {
    
    border-top:3px solid #b2dba1;
    border-bottom:2px solid #b2dba1;
}
.tbl-hover {
    display: none;
}
.table tr:hover .tbl-hover {
    display: inline;
    cursor: pointer;
}

.img-block {
    height: 215px;
    align-content: center;
    align-items: center;
    display: inline-block;
    margin: 5px;
    position: relative;
}
.img-block>button {
    position: absolute;
    top: 0;
    right: 0;
}
#file {
    display: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.thumb {
    max-height: 20em;
}
.hover-show {
    display: none;
    margin: auto 0.4em;
}
.btn:hover .hover-show {
    display: inline-block;
}
.error-container span {
    display: block;
}
.label-lg {
    font-size: 1.5em;
    display: inline-block;
}

/*hide somee.com link*/ 
body>center>a, div.container>center>a {
    display: none;
}

.orange {
    color: orange;
}
.grey {
    color: grey;
}
.fright {
    float:right
}