﻿<div ng-controller="cartController" ng-show="CartList.items.length > 0">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Count</th>
                <th>Name</th>
                <th>Price</th>
                <td><a ng-click="clearAll()">Clear cart</a></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in CartList.items">
                <td>
                    <a class="tbl-hover" ng-click="downCount($index)">< </a>
                    <span ng-bind="item.Count"></span>
                    <a class="tbl-hover" ng-click="upCount($index)"> > </a>
                </td>
                <td ng-bind="item.Product.Name"></td>
                <td ng-bind="item.Product.Price"></td>
                <td><a class="tbl-hover" ng-click="delete($index)">Delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td ng-bind="CartList.price"></td>
            </tr>
        </tfoot>
    </table>
    <form name="orderForm" novalidate>
        <table>
            <tr>
                <td><label>Username</label></td>
                <td>
                    <input class="form-control" type="text"
                           placeholder="Desired username"
                           name="userName"
                           ng-model="userName"
                           ng-minlength=3
                           ng-maxlength=20
                           ensure-unique="username" required="" />
                    </td><td>
                    <div class="error-container" ng-show="orderForm.userName.$touched">
                        <span class="label label-danger" ng-show="orderForm.userName.$error.required">Please input a username</span>
                        <span class="label label-danger" ng-show="orderForm.userName.$error.minlength">Your username is required to be at least 3 characters</span>
                        <span class="label label-danger" ng-show="orderForm.userName.$error.maxlength">Your username cannot be longer than 20 characters</span>
                        <span class="label label-danger" ng-show="orderForm.userName.$error.unique">That username is taken, please try another</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Phone</label></td>
                <td>
                    <input class="form-control" type="text"
                           placeholder="Desired username"
                           name="phone"
                           ng-model="phone"
                           ng-minlength=5
                           ng-maxlength=20
                           ng-pattern="/^[0-9+\(\)\-\ ]+$/"
                           ensure-unique="username" required="" />
                </td>
                <td>
                    <div class="error-container" ng-show="orderForm.phone.$touched">
                        <span class="label label-danger" ng-show="orderForm.phone.$error.required">Please input a phone</span>
                        <span class="label label-danger" ng-show="orderForm.phone.$error.pattern">Allow digits, space and "-+()"</span>
                        <span class="label label-danger" ng-show="orderForm.phone.$error.minlength">Your phone is required to be at least 5 characters</span>
                        <span class="label label-danger" ng-show="orderForm.phone.$error.maxlength">Your phone cannot be longer than 20 characters</span>
                        <span class="label label-danger" ng-show="orderForm.userName.$error.unique">That phone is taken, please try another</span>
                    </div>
                </td>
            </tr>
            <tr><td></td>
                <td><button class="btn btn-warning" ng-click="startOrder()" ng-disabled="orderForm.$invalid">Start Order</button></td>
            <td></td>
            </tr>
        </table>
    </form>
    
</div>
<div ng-hide="CartList.items.length > 0">
    <h1>Your cart is empty.</h1>
</div>
