﻿<h1>Details</h1>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" ng-init="item.editMode=false" ng-form="detail">
            <td ng-bind="item.Id"></td>
            <td>
                <span ng-bind="item.Name" ng-hide="item.editMode"></span>
                <input name="name" ng-model="item.Name" ng-show="item.editMode" required="" ng-maxlength="30" />
                <label ng-show="detail.name.$error.required" class="label label-danger">Inter list name</label>
                <label ng-show="detail.name.$error.maxlength" class="label label-danger">Too long (30)</label>
            </td>
            <td>
                <button class="btn btn-success" ng-show="!item.editMode" ng-click="startEdit($index)">Edit</button>
                <button class="btn btn-info" ng-show="item.editMode" ng-click="save($index)" ng-disabled="detail.$invalid">Save</button>
                <button class="btn btn-primary" ng-show="item.editMode" ng-click="cancelEdit($index)">Cancel</button>
                <button class="btn btn-info" ng-click="delete($index)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<p></p>
<h5>Add new detail:</h5>
<form name="addDetail">
    <span>Detail: </span><input name="name" type="text" ng-model="name" required="" ng-maxlength="30" />
    <label ng-show="addDetail.name.$error.required" class="label label-danger">Inter list name</label>
    <label ng-show="addDetail.name.$error.maxlength" class="label label-danger">Too long (30)</label>
    <button class="btn btn-info" ng-click="create()" ng-disabled="addDetail.$invalid">Add</button>
</form>