﻿@{
    Layout = null;
    bool manager = User.IsInRole("Manager");
    bool admin = User.IsInRole("Administrator");
}

<!DOCTYPE html>

<html ng-app="storeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ng-Animations.css" rel="stylesheet" />

    <script src="~/Scripts/lib/jquery-1.11.2.min.js"></script>
    
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/angular.min.js"></script>
    <script src="/Scripts/lib/angular-route.min.js"></script>
    <script src="~/Scripts/lib/angular-file-upload.js"></script>
    <script src="~/Scripts/lib/angular-animate.min.js"></script>
    

    <script src="~/Scripts/Controllers/controllers.js"></script>
    <script src="~/Scripts/Controllers/services.js"></script>
    <script src="~/Scripts/Controllers/webService.js"></script>
    <script src="~/Scripts/Controllers/routing.js"></script>
    


    <script src="~/Scripts/Controllers/test.js"></script>


    
    @if (admin)
    {
        <script src="~/Scripts/Controllers/adminService.js"></script>
    }
    @if (manager)
    {        
        <script src="~/Scripts/Controllers/managerControllers.js"></script>
        <script src="~/Scripts/Controllers/managerServices.js"></script>
        <script src="~/Scripts/Controllers/productManageController.js"></script>
    }
    
    
    

    <title>Brand</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" ng-controller="navigationController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand btn dropdown" data-toggle="dropdown" id="areas">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Brand
                </a>
                <ul class="dropdown-menu" aria-labelledby="areas">
                    @* ReSharper disable Html.IdNotResolved *@
                    <li><a href="#/list/1">Shop</a></li>
                    <li><a href="#/news">News</a></li>
                    <li><a href="#/help">Help</a></li>
                    <li><a href="#/about">Contacts</a></li>
                    @* ReSharper restore Html.IdNotResolved *@
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-size:1.5em;">
                    <li class="dropdown label-info">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span ng-bind="selectedList.Name"> </span> <span class="caret"> </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="listItem in lists">
                                <a ng-click="selectList(listItem.Id)">{{listItem.Name}}</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown label-success">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span ng-bind="selectedProducer.Name"></span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="listItem in producers">
                                <a ng-click="selectProducer(listItem.Id)">{{listItem.Name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form name="searchForm" class="navbar-form navbar-left form-inline" role="search">
                    <table class="form-group" style="width:100%">
                        <tr class="nav navbar-nav">
                            <td>
                                <input class="form-control" placeholder="Search" type="text" ng-model="searchText" required="">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default" ng-click="search()" ng-disabled="searchForm.$invalid"><span class="glyphicon glyphicon-search"></span></button>
                            </td>
                        </tr>
                    </table>
                </form>
                @* ReSharper disable Html.IdNotResolved *@
                <ul class="nav navbar-nav navbar-right">
                    @if (manager)
                    {
                        <li><a href="#/order" class="btn btn-danger">Orders</a></li>
                    }
                    @if (manager || admin)
                    { //для менеджера
                        <li class="dropdown label-default">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span>Management tools</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">                                
                                @if (manager)
                                {
                                    <li><a href="#/lists">Product lists</a></li>
                                    <li><a href="#/producers">Producers</a></li>
                                    <li><a href="#/details">Details</a></li>
                                    <li><a href="#/newProduct">New product</a></li>
                                    <li class="divider"></li>
                                }
                                @if (admin)
                                { //для админа
                                    <li><a href="#/users">Users management</a></li>
                                    <li class="divider"></li>
                                }
                                <li>Profile</li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()                                    
                                    }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">LogOff</a>
                                </li>
                            
                            </ul>
                        </li>
                    }                   
                    <li><a href="#/test">Test</a></li>
                </ul>
                @* ReSharper restore Html.IdNotResolved *@
            </div>
        </div>
        <a href="#/cart" class="cart">
            <div ng-show="CartList.price>0" class="notify" ng-bind="CartList.price | currency"></div>
            <div class="img"></div>
        </a>
        <a href="#/compare" class="compare">
            <div ng-show="CompareList.length>0" class="notify" ng-bind="CompareList.length | number"></div>
            <div class="img"></div>
        </a>
    </nav>
    <div class="container" ng-view> </div>
    <p>-</p>
</body>
</html>
