﻿@{
    bool manager = User.IsInRole("Manager");
}
@if(!manager){
<div ng-controller="productController">
    <h1 ng-bind="product.Name"></h1>
    <h5><strong>Model: </strong>{{product.Model}} <strong>Price: </strong>{{product.Price}}</h5>
    <p ng-show="product.InStock">In stock.</p>
    <p ng-hide="product.InStock">Sorry. Out of stock.</p>
    <p ng-bind="product.Annotation"></p>
    <div ng-init="showTab = 'Details'">
        <button class="btn btn-info" ng-click="showTab = 'Details'">Details</button>
        <button class="btn btn-info" ng-click="showTab = 'Comments'">Comments</button>
        <button class="btn btn-info" ng-click="showTab = 'Pictures'">Pictures</button>
        <button ng-show="product.InStock" class="btn label-success" ng-click="addToCart(product)">To cart</button>
    </div>
    <ul ng-show="showTab == 'Details'">
        <li ng-repeat="item in product.Details">
            <strong>{{item.Name}}: </strong>{{item.Value}}
        </li>
    </ul>
    <div ng-show="showTab == 'Comments'">
        <form name="addComment" novalidate="" ng-init="mark=0; hover=0;">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><input name="user" class="form-control" ng-model="name" type="text" required="" maxlength="30"/>
                    <label ng-show="addComment.user.$error.maxlength" class="label label-danger">Too long</label></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><textarea class="form-control" rows="5"ng-model="text" required=""></textarea></td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>
                        <button class="btn btn-default btn-lg"
                                ng-click="setMark(n)" 
                                ng-mouseover="hoverMark(n)"
                                ng-mouseleave="stopMark()"
                                ng-repeat="n in [1,2,3,4,5]" >
                            <span ng-show="hover>=n" class="glyphicon glyphicon-star orange"> </span>
                            <span ng-hide="hover>=n" class="glyphicon glyphicon-star grey"> </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button ng-click="sendComment()" ng-disabled="addComment.$invalid" class="btn btn-info">Add comment</button></td>
                </tr>
            </table>
        </form>
        <table class="table">
            <tr ng-repeat="item in product.Comments">
                <td>
                    <div class="panel">
                        <div class="panel-heading panel-primary">
                            <label class="label label-lg" ng-bind="item.User"></label>
                            <label class="label label">({{item.DateTime}})</label>
                            <div class="fright">
                                <span ng-class="$index<item.Mark?'orange':'grey'" ng-repeat="n in [1,2,3,4,5]" class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-body" ng-bind="item.Text"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="showTab == 'Pictures'">
        <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="item in product.PicturesIds">
            <a class="thumbnail">
                <img class="img-responsive thumb img-rounded" alt="" ng-src="api/File/{{item}}" ng-click="showPic($index)">
            </a>
        </div>
    </div>
</div>
            }
else//if (manager)
{
    <div >
        <div ng-controller="productManageController">
            <h1>{{product.Name}} (Id:{{product.Id}})</h1>
            <h5><strong>Model: </strong>{{product.Model}} <strong>Price: </strong>{{product.Price}}</h5>
            <p ng-show="product.InStock">In stock.</p>
            <p ng-hide="product.InStock">Sorry. Out of stock.</p>
            <p ng-bind="product.Annotation"></p>


            <div>
                <button class="btn btn-info" ng-click="changeTab('Details')">Details</button>
                <button class="btn btn-info" ng-click="changeTab('Comments')">Comments</button>
                <button class="btn btn-info" ng-click="changeTab('Pictures')">Pictures</button>
                <button class="btn btn-info" ng-click="changeTab('Department')">Department</button>
                <button ng-hide="showTab=='EditMode'" class="btn label-success" ng-click="startEdit()">Edit</button>
                <button class="btn btn-success" ng-show="showTab=='EditMode'" ng-click="save()" ng-disabled="editProduct.$invalid">Save</button>
                <button class="btn btn-primary" ng-show="showTab=='EditMode'" ng-click="cancelEdit()">Cancel</button>
                <button class="btn btn-info" ng-click="delete($index)">Delete</button>
            </div>
            <div ng-show="showTab=='EditMode'">
                @Html.Partial("EditProductPartial")
            </div>

        </div>
        <div ng-show="showTab=='Details'">
            <div ng-controller="productDetailsController">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" ng-init="item.editMode=false">
                            <td ng-bind="item.Id"></td>
                            <td>
                                <span ng-bind="item.Name" ng-hide="item.editMode"></span>
                                <input ng-model="item.Name" ng-show="item.editMode" />
                            </td>
                            <td>
                                <span ng-bind="item.Value" ng-hide="item.editMode"></span>
                                <input ng-model="item.Value" ng-show="item.editMode" />
                            </td>
                            <td>
                                <button class="btn btn-success" ng-show="!item.editMode" ng-click="startEdit($index)">Edit</button>
                                <button class="btn btn-info" ng-show="item.editMode" ng-click="save($index)">Save</button>
                                <button class="btn btn-primary" ng-show="item.editMode" ng-click="cancelEdit($index)">Cancel</button>
                                <button class="btn btn-info" ng-click="delete($index)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p></p>
                <h5>Add new product detail:</h5>
                <table>
                    <tr>
                        <td>Detail:</td>
                        <td><select class="form-control" ng-model="selectedDetail" ng-options="item.Name for item in details" style="color:black;"></select></td>
                    </tr>
                    <tr>
                        <td>Value:</td>
                        <td><input class="form-control" type="text" ng-model="value" /></td>
                    </tr>
                    <tr><td></td><td><button class="btn btn-info" ng-click="create()">Add</button></td></tr>
                </table>

            </div>
        </div>
        <div ng-show="showTab=='Comments'">
            <h1>Comments</h1>
            <p> </p>
        </div>
        <div ng-show="showTab=='Pictures'" ng-controller="imgController">
            <span class="btn btn-warning btn-file">
                Add pictures
                <input type="file" nv-file-select="onFileSelect($files)" uploader="uploader" multiple /><br />
            </span>

            <table class="table" ng-show="uploader.queue.length > 0">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>
                            <button ng-click="uploader.uploadAll()" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="img-block" ng-repeat="item in picturesIds">
                    <img ng-src="api/File/{{item}}" height="180" /><br />
                    <button class="btn btn-danger btn-xs" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span> </button>
                </div>
            </div>
        </div>
        <div ng-show="showTab=='Department'" ng-controller="productDepartmentController">
            <button class="btn btn-info" ng-click="save()">Save</button>
            <ul>
                <li ng-repeat="item in list">
                    <input type="checkbox" ng-model="item.Consist" />
                    <label ng-bind="item.Name"></label>
                </li>
            </ul>
        </div>
    </div>
}
