﻿<h1>Lists</h1>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Sort index</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" ng-init="item.editMode=false" ng-form="list">
            <td ng-bind="item.Id"></td>
            <td>
                <span ng-bind="item.Name" ng-hide="item.editMode"></span>
                <input name="name" ng-model="item.Name" ng-show="item.editMode" required=""/>
                <label ng-show="list.name.$error.required" class="label label-danger">Inter list name</label>
            </td>
            <td>
                <span ng-bind="item.SortIndex" ng-hide="item.editMode"></span>
                <input name="sort" type="number" ng-model="item.SortIndex" ng-show="item.editMode" required="" />
                <label ng-show="list.sort.$error.required" class="label label-danger">Inter list name</label>
                <label ng-show="list.sort.$error.number" class="label label-danger">Only digits allows</label>
            </td>
            <td>
                <button class="btn btn-success" ng-show="!item.editMode" ng-click="startEdit($index)">Edit</button>
                <button class="btn btn-info" ng-show="item.editMode" ng-click="save($index)" ng-disabled="list.$invalid">Save</button>
                <button class="btn btn-primary" ng-show="item.editMode" ng-click="cancelEdit($index)">Cancel</button>
                <button class="btn btn-info" ng-click="delete($index)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<p></p>
<h5>Add new department</h5>
<form name="addList">
    <span>Department name: </span><input name="name" type="text" ng-model="name" required="" />
    <label ng-show="addList.name.$error.required" class="label label-danger">Inter list name</label>
    <br />
    <span>Sort index: </span><input name="sort" type="number" ng-model="sort" required="" />
    <label ng-show="addList.sort.$error.required" class="label label-danger">Inter list name</label>
    <label ng-show="addList.sort.$error.number" class="label label-danger">Only digits allows</label>
    <br />
    <button class="btn btn-info" ng-click="create()" ng-disabled="addList.$invalid">Add</button>
</form>