﻿<div>
    <ul class="product">
        <li ng-repeat="item in items | filter:$rootScope.searchText">
            
            <img class="picture" ng-src="api/File/{{item.PictureId}}" height="200" />
            <h4 class="head" style="clear:both;"><span>{{item.Name | uppercase}}</span></h4>
            <div class="btn-grp">
                <button class="btn btn-info" ng-click="goDetails(item.Id)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="hover-show">Details</span>
                </button>
                <div class="clearfix"></div>
                <button class="btn btn-warning" ng-click="compare(item)"> 
                    <span class="glyphicon glyphicon-tags"></span><span class="hover-show">Compare</span>
                </button>
                <div class="clearfix"></div>
                <button ng-show="item.InStock" class="btn btn-success" ng-click="addToCart(item)">
                    <span class="glyphicon glyphicon-shopping-cart"></span><span class="hover-show">To cart</span>
                </button>
                <p ng-show="!item.InStock" class="label label-danger">Offline store.</p>
                <div class="clearfix"></div>
            </div>
            <p style="clear:both;">&nbsp;{{item.Annotation}}</p>
        </li>
    </ul>
</div>