﻿<h1>Produsers</h1>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Annotation</th>
            <th>Logo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" ng-init="item.editMode=false" ng-form="producer">
            <td ng-bind="item.Id"></td>
            <td>
                <span ng-bind="item.Name" ng-hide="item.editMode"></span>
                <input name="name" ng-model="item.Name" ng-show="item.editMode" required="" ng-maxlength="30"/>
                <label ng-show="producer.name.$error.required" class="label label-danger">Inter list name</label>
                <label ng-show="producer.name.$error.maxlength" class="label label-danger">Too long (30)</label>
            </td>
            <td>
                <span ng-bind="item.Annotation" ng-hide="item.editMode"></span>
                <input name="annotation" ng-model="item.Annotation" ng-show="item.editMode" required="" maxlength="2000" />
                <label ng-show="producer.annotation.$error.required" class="label label-danger">Inter annotation</label>
                <label ng-show="producer.annotation.$error.maxlength" class="label label-danger">Too long (2000)</label>
            </td>
            <td>
                <span ng-bind="item.Logo" ng-hide="item.editMode"></span>
                <input name="logo" ng-model="item.Logo" ng-show="item.editMode" required="" maxlength="30" />
                <label ng-show="producer.logo.$error.required" class="label label-danger">Inter logo</label>
                <label ng-show="producer.logo.$error.maxlength" class="label label-danger">Too long (30)</label>
            </td>
            <td>
                <button class="btn btn-success" ng-show="!item.editMode" ng-click="startEdit($index)">Edit</button>
                <button class="btn btn-info" ng-show="item.editMode" ng-click="save($index)" ng-disabled="producer.$invalid">Save</button>
                <button class="btn btn-primary" ng-show="item.editMode" ng-click="cancelEdit($index)">Cancel</button>
                <button class="btn btn-info" ng-click="delete($index)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<p></p>
<h5>Add new producer</h5>
<form name="addProducer">
    <span>Brand: </span><input name="name" type="text" ng-model="name" required="" ng-maxlength="30" />
    <label ng-show="addProducer.name.$error.required" class="label label-danger">Inter list name</label>
    <label ng-show="addProducer.name.$error.maxlength" class="label label-danger">Too long (30)</label><br />
    <span>Annotation: </span><input name="annotation" type="text" ng-model="annotation" required="" ng-maxlength="2000" />
    <label ng-show="addProducer.annotation.$error.required" class="label label-danger">Inter annotation</label>
    <label ng-show="addProducer.annotation.$error.maxlength" class="label label-danger">Too long (2000)</label><br />
    <span>logo: </span><input name="logo" type="text" ng-model="logo" required="" ng-maxlength="2000" /><br />
    <label ng-show="addProducer.logo.$error.required" class="label label-danger">Inter logo</label>
    <label ng-show="addProducer.logo.$error.maxlength" class="label label-danger">Too long (30)</label><br/>
    <button class="btn btn-info" ng-click="create()" ng-disabled="addProducer.$invalid">Add</button>
</form>
