﻿<h1>Users</h1>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th width="40px"></th>
            <th width="200px"></th>
            <th width="300px"></th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="item in users">
        <td><span ng-show="item.Online" style="color:green;">Online</span></td>
        <td><span ng-bind="item.Name"></span><a class="tbl-hover" ng-click="delete($index)"> [x]</a></td>
        <td>
            <ul ng-repeat="role in item.Roles">
                <li><span ng-bind="role"></span><a class="tbl-hover" ng-click="deleteUserFromRole($index, role)"> [x]</a></li>
            </ul>
        </td>
        <td>
            <select ng-init="item.selectedRole='Manager'">
                <option ng-repeat="role in roles" selected="{{item.selectedRole==role}}" ng-click="item.selectedRole = role">{{role}}</option>
            </select>
            <button class="btn btn-info" ng-click="addRole($index, item.selectedRole)">Add role</button>
        </td>
    </tr>    
</table>
<p></p>
<div>
    <h4>Add new user</h4>
    Name:<input type="text" ng-model="name" /><br />
    Password:<input type="password" ng-model="password" /> <br />
    Password:<input type="password" /><br />
    <button class="btn btn-info" ng-click="addUser()">Add</button>
</div>