﻿@model Login.Delete.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Store login</title>
    <style>
        .login-form {
    margin-top: 60px;
}
    </style>

</head>
<body>
    <div class="container">
        <div id="pwd-container" class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <section class="login-form">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "login" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Login form</h2>
                        <input type="text" name="UserName" class="form-control" placeholder="User name">
                        <input type="Password" name="Password" placeholder="Password" id="password" class="form-control">
                        @Html.ValidationSummary(true, null, new { @class = "panel panel-danger" })
                        <button class="btn btn-lg btn-primary btn-block" name="go" type="submit">Sign in</button>
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>